html {
  height: 100%; /* Ensure that the html element covers the full height */
}

body {
  min-height: 100%; /* Ensure that the body covers the full height */
  background-attachment: fixed; /* Keep the background fixed when scrolling */
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./assets/background.webp"); /* Update with the actual path to your image */
  background-size: cover; /* Cover ensures that the background covers the entire container */
  background-position: center; /* Center the background image */
  background-repeat: repeat; /* Do not repeat the image */
}

.game-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.game-header {
  text-align: start;
  margin-bottom: 10px;
}

.game-header__title {
  font-size: 47.5px;
  color: rgb(107, 30, 208);
  margin-bottom: 20px;
  line-height: 0;
}

.game-header__username {
  font-size: 20px;
}

.game-header__assignment {
  font-size: 27px;
  font-weight: bold;
  color: rgba(107, 30, 208, 0.58);
  line-height: 0.5;
}

#app-container {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

canvas {
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000, 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: #000;
  display: block;
  max-width: 800px;
  height: auto;
  aspect-ratio: 16 / 9;
  border: solid 3px #15520e;
}
